## License snippet at the beginning of the php file
snippet lic "lic"
/*
 * This file is part of the ${1} package.
 *
 * (c) Peter Kokot <peterkokot@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
endsnippet
