"*":
  core:
    telemetryConsent: "no"
  editor:
    showInvisibles: true
  "exception-reporting":
    userId: "e82837ec-5370-4ce9-b89b-3c1cce769752"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
