'global':
  'welcome':
    'showOnStartup': false
  'editor':
    'fontSize': 15
    'softwrap': true
    'invisibles': {}
  'core':
    'themes': [
      'atom-dark-ui'
      'atom-light-syntax'
    ]
